@import "@blueprintjs/core/lib/scss/variables";
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  //NOTE: https://blueprintjs.com/docs/#core/components/navbar
  padding-top: $pt-navbar-height;
}
